body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-align: justify;
    padding: 4em 1em;
    color: #555;
}

h1 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 48px;
}

h1, h3 {
    color: #333;
    text-align: center;
}

a {
    color: #2980b9;
}
